.home {
      text-align: center;
      padding: 20px;
      background-image: url('/public/firefighter-truck.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centre verticalement */
      align-items: center; /* Centre horizontalement */
    }
    
    .home h2 {
      margin: 0;
    }
    
    .home p {
      margin: 0 0 20px 0; /* Ajoute un peu d'espace en bas du paragraphe */
    }
    
    .buttons-container {
      display: flex;
      gap: 20px; /* Espacement entre les boutons */
    }
    
    .login-button,
    .register-button,
    .logout-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
    }
    
    .login-button {
      background-color: #4CAF50; /* Vert */
      color: white;
    }
    
    .register-button {
      background-color: #008CBA; /* Bleu */
      color: white;
    }
    
    .logout-button {
      background-color: #f44336; /* Red */
      color: white;
    }
